body {
  display: flex;
  flex-flow: column-reverse;
  display: flex;
  flex-flow: column;
}
.slidecontainer {
  margin-top: 1rem;
}

.instructions-wrapper p {
  margin: 0;
}
.red-bg {
  background-color: red;
}
.white-bg {
  transition: background-color 200ms ease-in;
  background-color: white;
}

.nodes-wrapper p {
  margin: 1rem 0;
}
.edges-wrapper p {
  margin: 0 0 1rem 0;
}
